@charset "UTF-8";
/**
 * main.scss
 * @author Cc 
 * @date 2015-04-23
 *
 */
/* mixin */
/**
 * _mixin.scss 常见样式封装、兼容性封装、常见工具方法
 * @author Cc
 * @date 2015-04-23
 *
 * --- prefixer --- 
 * update in 2016-01-18
 *
 * --- flex ----
 * display_flex
 * flex
 * flex_grow
 * flex_shrink
 * flex_basis
 * flex_align_items
 * flex_justify_content
 * flex_childPos
 *
 * --- layout  ---
 * box_sizing
 * clear
 *
 * --- appearance ---
 * text_ellipsis
 * opacity
 * box_shadow
 * appearance
 * bg_gradient
 *   #twoColor
 *   #threeColor
 *
 * --- transform ---
 * transform
 * scale
 * skew
 * translate
 * rotate
 * perspective
 * origin
 *
 * --- transition ---
 * transition
 * transition-transform
 *
 * --- animation ---
 * animation
 * keyframes
 *
 * --- media ---
 * screenResolution
 * screenForIE10AndLater
 * screenForIE8
 * media
 *
 * --- other ---
 * inlineBlock
 * square
 * absoluteCenter
 * triangle
 * bfc
 * retina 1px line
 * update in 2016-05-18
 * setFontSizeForRem
 *
 * --- function ---
 * update in 2016-01-21
 * stripUnits
 * px2Rem
 * 
 */
/* ------------------------------ prefixer ------------------------------ */
/* 是否支持某个浏览器的前缀，如果你不想支持，可以设置为false */
/* ------------------------------ flex ------------------------------ */
/* display_flex */
/* line 117, ../sass/_mixin.scss */
.m_flexBox {
  display: -o-box;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/**
 * 容器的属性
 * flex-direction、flex-wrap、flex-flow、justify-content、align-items、align-content
 */
/**
 * flex_direction 伸缩流方向，决定主轴 main axis 的方向
 * @param: row | row-reverse | column | column-reverse
 */
/* 
 * flex_justify_content 属性定义了项目在主轴上的对齐方式
 * @param: flex-start | flex-end | center | space-between | space-around
 */
/* 
 * flex_align_items 属性定义项目在交叉轴上如何对齐
 * @param: flex-start | flex-end | center | baseline | stretch
 */
/* flex_childPos horizontal/vertical */
/**
 * flex_align_content 属性定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用，所以此时 flex-wrap 必须为 wrap。
 * @param: flex-start | flex-end | center | space-between | space-around | stretch
 */
/**
 * 项目的属性
 * order、flex-grow、flex-shrink、flex-basis、flex、align-self
 */
/* 
 * flex_grow 属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
 * @param: <number>(default 0)
 */
/* 
 * flex_shrink 属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
 * @param: <number>(default 1)
 */
/* 
 * flex_basis 属性定义了在分配多余空间之前，项目占据的主轴空间（main size）。浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小。
 * @param: <length> | auto(default)
 */
/* 
 * flex 是flex-grow, flex-shrink 和 flex-basis的简写，默认值为 0 1 auto，后两个属性可选。
 * @param: flex-grow flex-shrink flex-basis
 */
/* 
 * align_self 属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。默认值为auto，表示继承父元素的align-items属性，如果没有父元素，则等同于stretch。
 * @param: auto(default) | flex-start | flex-end | center | baseline | stretch
 */
/* ------------------------------ layout ------------------------------ */
/* box_sizing */
/* clear */
/* ------------------------------ appearance ------------------------------ */
/* text_ellipsis */
/* opacity */
/* box_shadow */
/* appearance */
/* bg_gradient 跨浏览器的渐变背景 */
/* twoColor 两种颜色的渐变 */
/* 垂直渐变，自上而下 */
/* 水平渐变，自左而右 */
/* threeColor 三种颜色的渐变 */
/* 垂直渐变，自上而下 */
/* 水平渐变，自左而右 */
/* ------------------------------ transform ------------------------------ */
/* transform */
/* scale */
/* skew */
/* translate */
/* rotate */
/* perspective */
/* origin */
/* ------------------------------ transition ------------------------------ */
/* transition */
/* ------------------------------ animation ------------------------------ */
/* animation */
/* keyframes */
/* ------------------------------ media ------------------------------ */
/* screenResolution */
/* screenForIE10AndLater 兼容IE10&11 */
/* screenForIE8 */
/**
  * media 通用media设置
  * @param {String} $attr (eg: "min-width" "max-width")
  * @param {String} $val (eg: "1024px")
  */
/* ------------------------------ other ------------------------------ */
/* inlineBlock */
/* square 产生正方形的宽高 */
/* square 产生正方形的宽高 */
/* triangle 小三角 */
/* bfc */
/* retina 1px line */
/**
 * setFontSizeForRem
 * 如果要精确控制，则用js来计算设置html的fontSize，如下：
 * 
 * (function (doc, win) {
    var docEl = doc.documentElement,
    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
    recalc = function () {
      var clientWidth = docEl.clientWidth;
      if (!clientWidth) return;
      docEl.style.fontSize = 37.5 * (clientWidth / 375) + 'px';
    };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false); // DOM加载之后及资源加载之前去执行，即对应jQuery中的document ready
    })(document, window);
 * 
 */
/* ------------------------------ function ------------------------------ */
/* stripUnits */
/* px2Rem */
/* reset 重置样式 */
/**
 * _reset.scss 重置样式
 * @author Cc
 * @date 2015-04-23
 */
/* line 8, ../sass/_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure {
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/_reset.scss */
body, input, textarea, select, button {
  outline: none;
  -webkit-text-size-adjust: none;
}

/* line 22, ../sass/_reset.scss */
input, textarea, select, button {
  font-size: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../sass/_reset.scss */
input, textarea, fieldset, img {
  border: none;
}

/* line 31, ../sass/_reset.scss */
ul, ol, li {
  list-style: none;
}

/* line 35, ../sass/_reset.scss */
html, body {
  height: 100%;
  position: relative;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}

/* line 46, ../sass/_reset.scss */
textarea {
  overflow: auto;
}

/* line 50, ../sass/_reset.scss */
img {
  max-width: 100%;
}

/* line 54, ../sass/_reset.scss */
:focus {
  outline: none;
}

/* line 58, ../sass/_reset.scss */
input[type=radio]::-ms-check, input[type=checkbox]::-ms-check {
  display: none;
}

/* line 62, ../sass/_reset.scss */
select::-ms-expand {
  display: none;
}

/* base 基础样式，一般改这个，看不同项目的需要 */
/**
 * _base.scss 项目基础样式、项目用方法、项目用function
 * @author Cc
 * @date 2015-04-23
 *
 */
/* line 9, ../sass/_base.scss */
body, input, textarea, select, button {
  font-family: "Helvetica Neue", STheiti, sans-serif;
}

/* line 13, ../sass/_base.scss */
body {
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  word-break: break-all;
  -webkit-tap-highlight-color: transparent;
}

/* line 22, ../sass/_base.scss */
a {
  color: #1d8ae5;
  -webkit-tap-highlight-color: transparent;
  /* 扩大通用a标签点击时的表现区域 */
}
/* line 26, ../sass/_base.scss */
a, a:hover, a:active {
  outline: none;
}
/* line 29, ../sass/_base.scss */
a, a:hover {
  text-decoration: none;
}
/* line 33, ../sass/_base.scss */
a:active {
  position: relative;
}
/* line 35, ../sass/_base.scss */
a:active:before {
  content: '';
  position: absolute;
  z-index: -1;
  pointer-events: none;
  /* key note：事件穿透 */
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  padding: 6px;
}

/* 为适配旧版不支持flex的缩写方法，要设置这样一个空标签 */
/* line 50, ../sass/_base.scss */
.func_growSpace {
  display: block;
  width: 0;
  -ms-flex: 1;
  -moz-box-flex-grow: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-flex-basis: 0;
  -moz-box-flex-basis: 0;
  -webkit-flex-basis: 0;
  -ms-flex-basis: 0;
  flex-basis: 0;
}

/* line 19, ../sass/main.scss */
.m_flexBox {
  width: 300px;
  height: 100px;
  background-color: gray;
}
/* line 27, ../sass/main.scss */
.m_flexBox .item {
  width: 50px;
  height: 50px;
  background-color: #000;
  color: red;
}
/* line 35, ../sass/main.scss */
.m_flexBox .item1 {
  background: yellow;
}
/* line 40, ../sass/main.scss */
.m_flexBox .item2 {
  background: green;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  align-self: center;
}
/* line 45, ../sass/main.scss */
.m_flexBox .item3 {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  align-self: flex-end;
}
